.y.axis line {
    fill: none;
    color: white;
}

.x.axis line {
    fill: none;
    stroke: #e0e0e0;
    shape-rendering: crispEdges;
}

.axis path {
    display: none;
}

.brush .extent {
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.resize {
    display: inline !important;
    /* show when empty */
    fill: #7A7A7A;
    fill-opacity: 1;
    stroke: #7A7A7A;
    stroke-width: 2px;
}

.bar {
    /*shape-rendering: crispEdges;*/
}

.input-xs {
    height: 20px;
    line-height: 1.5;
    font-size: 12px;
    padding: 1px 5px;
    border-radius: 3px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.center-block {  
  display: block;  
  margin-right: auto;  
  margin-left: auto;  
}  