#pie {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  width: 960px;
  height: 500px;
  position: relative;
}

/*
svg {
    width: 100%;
    height: 100%;
}
*/
path.slice {
    stroke-width: 2px;
}

polyline {
    opacity: .3;
    stroke: white;
    stroke-width: 2px;
    fill: none;