
.label {
  fill: #000;
  font-family: sans-serif;
  font-size: 14px;
}

#scatterPlot{
  /*text-align : left;*/
  margin-left:-250px;
}

.tick, text {
  fill : #fff;
  font-size : 25px;
  color : white;
}

.domain, line {
  stroke: #777;
}

.focusLine {
  shape-rendering: crispEdges;
  stroke: #777;
  stroke-width: 1.1;
  stroke-linecap: butt;
}
