body {
  background-color: #444;
  /*overflow: hidden;*/
  margin: 0px;
  padding: 0px;
}
.label {
  fill: #000;
  font-family: sans-serif;
  font-size: 14px;
}
svg{
  margin-left:-800px;
}
text {
  fill : #fff;
  font-size : 25px;
}

.domain, line {
  stroke: #777;
}

.focusLine {
  shape-rendering: crispEdges;
  stroke: #777;
  stroke-width: 1.1;
  stroke-linecap: butt;
}
